In [1]:
for x in range (1,6):
    for y in range(0,x):
        print(x,end=" ")  #a
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
for y in range (7):
    for z in range(1,y):
        print(z,end=" ")  #b
    print(end="\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
 for x in range (1,6):
    for y in range(6,x,-1):
        print(x,end=" ")  #c
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [4]:
for x in range (1,6):
    for y in range(6,x,-1):
        print(5,end=" ")  #d
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [5]:
for x in range (6,1,-1):
    for y in range(0,x,1):
        print(y,end=" ")  #e
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [6]:
for x in range (1,10,2):
    for y in range(1,x+1,2):
        print(x,end=" ")  #f
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [7]:
for x in range (5,0,-1):
    for y in range(x,0,-1):
        print(x,end=" ")  #g
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
for y in range (1,6):
    for z in range(y,0,-1):
        print(z,end=" ")  #h
    print(end="\n")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [9]:
for y in range(5,0,-1):
    for s in range(y,0,-1):  #i
        print(s,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [10]:
x=1
y=2
a=y
for i in range(2, 6):
    for j in range(x,y):
        a-=1
        print(a,end=' ') #j
    print()
    x=y
    y+=i
    a=y

1
3 2
6 5 4
10 9 8 7

In [11]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1,end=" ") #k
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [ ]:
#l

In [12]:
for i in range(6):
    for j in range(1,6):
        if j<=i:
            print(i,end=" ")
        else:
            print(j,end=" ")#m
    print()

1 2 3 4 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [13]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=" ") #n
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [14]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ") #o
    print()

*
* *
* * *
* * * *
* * * * *

In [15]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")#p
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [16]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ") #q
    print()

* * * * *
* * * *
* * *
* *
*

In [17]:
n=6
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ") #r
    print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [18]:
n=5
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end="") #s
    print()

*****
 ****
  ***
   **
    *

In [19]:
n=7
for i in range(0,n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ") #t
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [20]:
n=6
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
print(" ")
n=6
for i in range(n):
    for j in range(i,n):
        print("*",end=" ") #u
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()
n=5
for i in range(n):
    for j in range(i,n-1):
        print("*",end=" ") #v
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ") #w
    print()

for i in range(n-2,-1,-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [23]:
n=5
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ") #x
    print()
n=5
for i in range(n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [24]:
n=6
for i in range(n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ") #y
    print()

n=6
for i in range(n-1,0,-1):
    for j in range(0,n-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
#z